---
import { getEntryBySlug } from 'astro:content';
import Container from '~/components/Container.astro';
import Page from '~/components/Page.astro';

import '~/styles/global.css';

const formatter = new Intl.DateTimeFormat('en-GB', {
    dateStyle: 'medium',
    timeStyle: 'medium'
});

const { slug } = Astro.params;
const page = await getEntryBySlug('blog', slug!);
if (!page) return Astro.redirect('/404');

const { render, data } = page;
const { Content } = await render();
---

<Page description={data.description} title={data.title} path={`/${slug}`} bodyClass="flex flex-col">
    <div class="mt-3 relative lg:grid lg:place-self-center">
        <Container>
            <div class="flex mx-auto border border-pink-300 md:max-w-5xl rounded-lg shadow-md py-2 px-3">
                <div>
                    <img
                        src="https://cdn.floofy.dev/images/August.png"
                        class="md:w-[154px] md:h-[154px] max-sm:hidden h-[72px] w-[72px] rounded-md lg:shadow-sm"
                        alt="noel avatar"
                        draggable="false"
                    />
                </div>
                <div class="my-auto ml-3">
                    <h1 class="font-mono md:text-4xl">{data.title}</h1>
                    <h2 class="md:text-2xl mt-2">{data.description}</h2>
                    <div class="text-white mt-4">
                        <span class="text-md">{formatter.format(new Date(data.createdAt))}</span>
                    </div>
                </div>
            </div>
            <main class="flex container mx-auto pb-8 mt-9">
                <article
                    class="prose prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl max-w-4xl lg:max-w-7xl prose-p:break-words prose-code:dark:text-slate-300 prose-p:text-zinc-200 prose-headings:text-zinc-200 prose-headings:font-sans prose-strong:dark:text-slate-300 prose-strong:text-slate-700 prose-li:dark:text-slate-300 prose-li:text-slate-700 prose-a:dark:text-fuchsia-200 hover:prose-a:dark:text-fuchsia-400 prose-a:text-fuchsia-500 hover:prose-a:text-fuchsia-200 prose-img:mx-auto"
                >
                    <Content />
                </article>
            </main>
        </Container>
    </div>
</Page>

<style lang="scss">
    .content {
        @apply prose prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl max-w-4xl lg:max-w-7xl prose-p:break-words
        prose-code:dark:text-slate-300 prose-p:text-zinc-200 prose-headings:text-zinc-200 prose-headings:font-sans
        prose-strong:dark:text-slate-300 prose-strong:text-slate-700 prose-li:dark:text-slate-300 prose-li:text-slate-700
        prose-a:dark:text-fuchsia-200 hover:prose-a:dark:text-fuchsia-400 prose-a:text-fuchsia-500 hover:prose-a:text-fuchsia-200
        prose-img:mx-auto;
    }
</style>
