---
import { getEntryBySlug } from 'astro:content';
import Container from '~/components/Container.astro';
import Navbar from '~/components/Navbar.astro';
import Page from '~/components/Page.astro';

import '~/styles/global.css';

const currentYear = new Date().getFullYear();
const { slug } = Astro.params;
const formatter = new Intl.DateTimeFormat('en-GB', {
    dateStyle: 'medium',
    timeStyle: 'medium'
});

const page = await getEntryBySlug('blog', slug!);
if (!page) return Astro.redirect('/404');

const { render, data } = page;
const { Content } = await render();
---

<Page description={data.description} bodyClass="relative" title={data.title} path={`/blog/${slug}`}>
    <main class="min-h-screen">
        <Navbar />
        <Container>
            <div class="flex mt-3 mx-auto border border-pink-300 lg:w-[80rem] rounded-lg shadow-md py-2 px-3">
                <div>
                    <img
                        src="https://cdn.floofy.dev/images/August.png"
                        class="md:w-[154px] md:h-[154px] max-sm:hidden h-[72px] w-[72px] rounded-md lg:shadow-sm"
                        alt="noel avatar"
                        draggable="false"
                    />
                </div>
                <div class="my-auto ml-4">
                    <h1 class="font-mono md:text-4xl">{data.title}</h1>
                    <h2 class="md:text-2xl mt-2">{data.description}</h2>
                    <div class="text-white mt-4">
                        <span class="text-md">Published on {formatter.format(new Date(data.createdAt))}</span>
                    </div>
                </div>
            </div>
            <main class="flex container mx-auto pb-8 mt-9">
                <article
                    class="lg:max-w-[80rem] prose prose-p:break-words prose-p:text-zinc-200 prose-p:text-2xl prose-headings:font-serif prose-headings:text-zinc-200 prose-strong:text-slate-200 prose-code:text-slate-200 prose-a:text-rose-200 hover:prose-a:text-fuchsia-400 prose-a:underline prose-li:text-slate-300 prose-img:mx-auto"
                >
                    <Content />
                </article>
            </main>
        </Container>
        <footer class="relative bottom-0 left-0 text-center">
            <p class="font-serif text-xl">
                Copyright &copy; 2018-{currentYear}
                <a class="text-[#f4b5d5] underline" href="https://floofy.dev" target="_blank">Noel</a> &bull;
                <a class="text-[#f4b5d5] underline" href="https://github.com/auguwu/floofy.dev" target="_blank">
                    Source Code
                </a>
            </p>
        </footer>
    </main>
</Page>
