---
import ProjectCard, { type Props } from '~/components/ProjectCard.astro';
import Container from '~/components/Container.astro';
import { age as getAge } from '~/utils/datetime';
import Navbar from '~/components/Navbar.astro';
import Head from '~/components/Head.astro';
import '~/styles/global.css';

const age = getAge(new Date(2004, 2, 24));
const projects: Props['data'][] = [
    {
        description: '🐻‍❄️💐 Easy, and flexible image host to share with your friends on Discord, Telegram, and more.',
        language: 'rust',
        name: 'ume',
        url: 'https://github.com/auguwu/ume'
    },
    {
        description: '💐💚 Collection of Docker images that I use for Coder',
        language: 'dockerfile',
        name: 'Coder Images',
        url: 'https://github.com/auguwu/coder-images'
    }
];

const friends = [
    {
        friend: 'Spotlight',
        img: 'https://joscomputing.space/assets/friends/spotlight.gif',
        url: 'https://joscomputing.space'
    },
    {
        friend: 'Alula',
        img: 'https://alula.me/webring/alula.png',
        url: 'https://alula.me'
    }
];
---

<html lang="en">
    <Head path="/" />
    <body class="max-lg:px-3 py-2">
        <Navbar />

        <div
            class="flex flex-col container mt-2.5 mx-auto space-y-4 max-md:justify-center max-md:items-center lg:max-w-screen-xl"
        >
            <h1 class="font-sans text-4xl">Noel Towa [he/him] &bull; {age} years old</h1>
            <h2 class="font-sans text-3xl text-gray-400">Developer, System Administrator, Polar Bear</h2>
            <div class="flex flex-row gap-2 mt-1.5">
                <a href="https://en.pronouns.page/terminology#gay" target="_blank">
                    <img alt="gay pride" class="w-12 h-8 rounded-sm" src="https://en.pronouns.page/flags/Gay_.png" />
                </a>
                <a href="https://en.pronouns.page/terminology#homosexual" target="_blank">
                    <img alt="homosex ual" class="w-12 h-8 rounded-sm" src="https://en.pronouns.page/flags/Gay.png" />
                </a>
                <a href="https://en.pronouns.page/terminology#polyamorous" target="_blank">
                    <img
                        alt="poly (i like 2 men)"
                        class="w-12 h-8 rounded-sm"
                        src="https://en.pronouns.page/flags/Polyamorous__.png"
                    />
                </a>
            </div>
            <span class="text-gray-400 font-mono">
                friends :3 &bull;
                <a class="hover:underline" href="https://cdn.floofy.dev/images/88x31.gif">webring</a>
            </span>
            <hr class="border-gray-600 mt-1.5" />
            <div class="flex flex-row gap-2 mt-2">
                <a href="https://joscomputing.space" target="_blank">
                    <img
                        alt="Spotlight's 88x31"
                        class="rounded-sm"
                        src="https://joscomputing.space/assets/friends/spotlight.gif"
                    />
                </a>

                {
                    friends.map(({ friend, img, url }) => (
                        <a href={url} target="_blank">
                            <img alt={`${friend}'s 88x31'`} class="rounded-sm" src={img} />
                        </a>
                    ))
                }
            </div>

            <Container>
                <h1 class="text-3xl font-serif">Projects</h1>
                <div class="mt-2 grid grid-cols-1 lg:grid-cols-3 gap-3 items-center [&>*]:h-full">
                    {projects.map((data) => <ProjectCard data={data} />)}
                </div>
            </Container>
        </div>
    </body>
</html>
