---
import { toBaseUrl } from '~/site';

export interface Props {
    description?: string;
    title?: string;
    path: string;
}

const { description, title, path } = Astro.props;
const baseUrlPath = toBaseUrl(path);
---

<head>
    <title>{`Noel 🌺${title ? ` - ${title}` : ''}`.trim()}</title>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href={toBaseUrl('/avatars/furry.png')} rel="shortcut icon" />
    <meta content={description} property="og:description" />
    <meta content={description} name="description" />
    <meta content="#896ae0" name="theme-color" />
    <meta content={`Noel 🌺${title?.length && title.length > 0 ? ` - ${title}` : ''}`.trim()} property="og:title" />
    <meta content={toBaseUrl('/avatars/furry.png')} property="og:image" />
    <meta content="website" property="og:type" />
    <meta content={baseUrlPath} property="og:url" />
    <meta content="English" name="language" />
    <meta content="august, auguwu, noel, noelware" name="keywords" />
</head>
