---
import { Icon } from 'astro-icon';

export interface Props {
    data: {
        description: string;
        language: keyof typeof langs;
        name: string;
        url: string;
    };
}

const { data } = Astro.props;
const iconName = {
    dockerfile: 'vscode-icons:file-type-docker',
    typescript: 'vscode-icons:file-type-typescript-official',
    kotlin: 'vscode-icons:file-type-kotlin',
    astro: 'vscode-icons:file-type-astro',
    rust: 'vscode-icons:file-type-rust',
    go: 'vscode-icons:file-type-go-gopher'
};

const langs = {
    dockerfile: 'https://docker.com',
    typescript: 'https://typescriptlang.org',
    kotlin: 'https://kotlinlang.org',
    astro: 'https://astro.build',
    rust: 'https://rustlang.org',
    go: 'https://go.dev'
};
---

<div class="py-4 px-3 rounded-md shadow-md bg-[#2B2C3B] space-y-3">
    <div class="flex flex-col gap-2 align-middle">
        <div class="flex flex-row flex-1 mt-auto px-2">
            <Icon size={24} pack="radix" name="bookmark-filled" class="text-white align-middle" />

            <a
                href={data.url}
                class="text-white text-2xl ml-2 max-sm:text-lg font-mono hover:underline"
                target="_blank"
            >
                {data.name}
            </a>

            <div class="flex-1 place-self-stretch"></div>
            <a href={langs[data.language.toLowerCase()]} target="_blank">
                <Icon name={iconName[data.language.toLowerCase()]} size={30} />
            </a>
        </div>
        <div class="relative mb-auto flex flex-col">
            <p class="text-white text-lg font-serif">{data.description}</p>
        </div>
    </div>
</div>
